.introContent {
    position: absolute;
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg {
    margin-top: 15rem;
    display: block;
    top: 1rem;
    object-fit: cover;
}